
body .kart {
  --background:#FFFFFF;
  --text:black;
  position: relative;
  height: 40rem;
    margin: 10px;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.05);

}

body .kart .con {
  position: absolute;
  width: 98%;
  height: 100%;
   border-radius: 3rem;
  background: var(--background);
  color: var(--text);
  margin-left: 20px;
}
body .kart .con img{
  border-radius: 1rem;
  margin-top: 3rem;
  margin-left: 3rem;
}
body .kart .con h1{
  font-family:'Times New Roman', serif;
  margin-top: 2rem;
  margin-left: 4rem;
}
body .kart .con2 h2{

  font-family:'Times New Roman', serif;

    margin: 20px;
    color: white;

}
.kart2 {


  --background:#00FFFF;
  --text:black;
  position: relative;
  height: 40rem;

  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 1);

}

 .kart2 .con2 {
  position: absolute;
  width:45%;
  height: 70%;
   border-radius: 3rem;
  background: #404040;
  color: var(--text);
  margin-left: 55rem;
  margin-top: 3rem;
}
.kart2 .con2 h4{
  padding: 1rem 2rem;
  font-family:'Times New Roman', serif;
  margin-top: 2rem;
  margin-left: 0rem;
  color: white;
}


