

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.bEd {
    border: none;
    background: #e7e7e7;
    color: #000000 !important;
    font-weight: 100;
    width: auto;
    padding: 2px;
    margin-left: 5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.bEd:hover {
    color: #ffffff !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: #0c0c0c;
    -webkit-box-shadow: 0px 5px 40px -10px rgb(0, 0, 0);
    -moz-box-shadow: 0px 5px 40px -10px rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
}



