body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.searchBox {
    position: absolute;
    top: 2.5%;
    left: 48%;
    transform:  translate(-100%,0%);
    background: #7AD3DC;
    height: 40px;
    border-radius: 40px;
    
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D9D9DA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.searchInput::placeholder {
  color: black;

}
.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;

    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
.fa-search{
    
    color: blue;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}



 .topnav{
    flex: 1;
    text-align: right;
margin-top: 1%;
border-radius: 15px 50px 30px;
   

 
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);  
     background-size: 400% 400%;  
        animation: gradient 13s ease infinite;     height: 5vh; } 
         @keyframes gradient { 
          0% {         background-position: 0% 50%;     }    
          50% {         background-position: 100% 50%;     }    
          100% {       background-position: 0% 50%;     } 
 }
 .topnav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }
 .topnav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
 }
  
 .topnav ul li::after{
    content: '';
    width: 0%;
    height: 2px;background: #2BCBE4;
    display: block;
    margin: auto;
    transition: 0.5s;
 }
 .topnav ul li:hover::after{
    width: 100%;

 }
 .fa-user-circle{
color:black;
}